.top-padding {
    padding-top: 70px;
}
.bg-dark {
    background-color: #343a40!important;
}
.footer-widget {
    margin-bottom: 50px;
}
.footer-widget a {
    font-size: 30px;
}

.text-white {
    color: #fff!important;
}
.footer-widget p {
    color: #eee;
}
.footer-link {
    padding-left: 0;
    list-style-type: none;
}
.footer-link li {
    color: #fff;
}
.footer-link i {
    margin-right: 10px;
}.footer-link i {
    margin-right: 10px;
}
.footer-copy {
    padding: 40px 0px;
    border-top: 1px solid#444;
}
.lead {
    font-size: 1.0625rem;
    font-weight: 300;
}

.text-white-50 {
    color: rgba(255,255,255,.5)!important;
}
.footer-link > li + li {
    margin: .5rem 0 0;
}