.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert {
  
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.form-group {
    margin-bottom: 20px;
}
textarea.form-control {
    height: auto;
}
.form-control {
    border-radius: 3px;
    height: 50px;
    padding-left: 15px;
    border: 1px solid#ddd;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}