.pricing-block {
    text-align: center;
    padding: 30px 40px;
    border: 1px solid#ddd;
}
.pricing-block {
    text-align: center;
    padding: 30px 40px;
    border: 1px solid#ddd;
}
.price {
    font-size: 80px;
    font-weight: 700;
}
.pricing-block ul {
    margin-bottom: 30px;
}
.pricing-block li {
    padding: 6px 0px;
    border-top: 1px solid#eee;
}
.btn {
    padding: 1rem 2.5rem !important;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    font-size: .6875rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.price small {
    font-size: 18px;
}